<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEMO Socket IO</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    
    <script type="text/javascript">
        var socket = io('http://localhost:3000');
        socket.on('sever-send-message', function(message) {
            var message = "<div><span class='message'></span><span> " + message + "</span></div>";
            $('#content').append(message);
        });

        socket.on('sever-send-color', function(color) {
            $('#content').css("background-color", color);
        });

        $(document).ready(function(){
            $('#sendMessage').click(function(){
                sendMessage();
            });

            $('#message').keypress(function(){
                if ( event.which == 13 ) {
                    sendMessage();
                }
            });

            function sendMessage(){
                var message = $('#message').val();
                socket.emit('client-send-message', message);
                $('#message').val('');
            }

            $('.change-color').click(function(){
                var color = $(this).css('background-color');
                socket.emit('client-send-color', color);
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="form-group">
                <div class="row">
                    <h2>Demo chat realtime NodeJS</h2>
                    <input class="form-control" type="text" id="username" name="username" placeholder="Enter name">
                    <div class="form-control" id="content"></div>
                    <div class="input-group mb-3">
                        <input class="form-control" id="message" placeholder="Write something...">
                        <div class="input-group-append">
                            <span class="btn btn-primary" id="sendMessage">SEND</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="test">
            <button type="button" class="btn btn-success change-color">Success</button>
            <button type="button" class="btn btn-danger change-color">Danger</button>
            <button type="button" class="btn btn-warning change-color">Warning</button>
        </div>
    </div>
    
</body>
</html>